# Laravel default ignore
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*
Homestead.json
Homestead.yaml
.idea
.phpunit.result.cache
.phpactor.json
.phpunit.cache
/.vscode
/.DS_Store
Thumbs.db

# Cache / log / build
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions
/storage/framework/views
/storage/logs
/public/hot
/public/build
npm-debug.log
yarn-error.log

# JetBrains & PHPStorm
/.idea

# Fleet IDE
/.fleet

# Other system files
.DS_Store
Thumbs.db

# Optional: uncomment if needed
# tests/Browser/screenshots
# tests/Browser/console
